.footer-widgets {
	background-color: $grey;
	clear: both;
	padding: 60px 0;
	
	.widget-title {
		color: #fff;
		font-size: 30px;
		font-size: 3rem;
		text-transform: uppercase;
		
		&:after {
			border-bottom: 1px solid #fff;
			content: "";
			display: block;
			margin-top: 10px;
			width: 15%;
		}
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	color: #fff;
	width: 50%;
	
	p {
		margin: 0 0 5px;
	}
	
	a {
		color: #fff;
	}
}

.footer-widgets-1,
.footer-widgets-2 {
	float: left;
// 	margin-right: 70px;
}

.footer-widgets-2 {

}