/* ## Front Page
--------------------------------------------- */
.eldorado-front-page {
	
	.site-header,
	.nav-primary {
		position: relative;
	}
	
	.site-header {
		background-color: rgba(255, 255, 255, .3);
		z-index: 2000;
	}
	
	.nav-primary {
		background-color: rgb(197, 0, 145);
		background-color: rgba(197, 0, 145, .8);
		z-index: 1000;
	}
	
}

.home-top {
	display: table;
	height: 600px;
	width: 100%;
	
	.widget-area {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		
		h1 {
			color: #fff;
			font-family: $font-sans-headings;
			font-size: 55px;
			font-size: 5.5rem;
			
		}
		
		.button {
			border: #fff solid 3px;
			color: #fff;
			font-size: 23px;
			font-size: 2.3rem;
			
			&:hover {
				background-color: $purple;
				border-color: $purple;
			}
		}
	}
}

.home-middle {
	background: #fff;
	overflow: hidden; //To hide the stretch of the title strip
	padding: 40px 0;
	
	.widget-title {
		background: $dark-purple;
		color: #fff;
		font-size: 35px;
		font-size: 3.5rem;
		overflow: hidden;
		padding: 5px 15px;
		position: relative;
		width: 150%;
	}
	
	.featured-content:nth-child(even) {
		.widget-title {
			left: -50%;
			text-align: right;
		}
	}
	
	.featured-content {
		.alignleft {
			height: 360px;
			
			&:after {
				background-color: $dark-purple;
				content: "";
				display: block;
				height: 360px;
				left: -200%;
				position: relative;
				top: -367px;
				width: 250%;
				z-index: 100;
			}
		}
		
		.alignright {
			height: 360px;
			
			&:after {
				background-color: $dark-purple;
				content: "";
				display: block;
				height: 360px;
				position: relative;
				right: -50%;
				top: -367px;
				width: 250%;
				z-index: 100;
			}
		}
	}
	
	article {
		
		.entry-image {
			border: $dark-purple solid 5px;
			border-radius: 50%;
			position: relative;
			z-index: 200;
			
			&:before {
				background-color: $dark-purple;
				content: "";
				width: 15px;
				height: 360px;
			}
		}
		
		.entry-title {
			font-size: 30px;
			font-size: 3rem;
			
			a {
				color: $purple;
				
				&:hover {
					color: $dark-purple;
				}
			}
		}
		
		.entry-content {
			position: relative;
			
			.more-link {
				margin-top: 40px;
				position: absolute;
				padding: 5px 20px;
				right: 0;
			}
		}
	}
	
	.widget.featured-content.featuredpost:nth-child(odd) {
		
		.entry-content {
			
			.more-link {
				right: 0;
			}
		}
	}
	
	.widget.featured-content.featuredpost:nth-child(even) {
		
		.entry-content {
			
			.more-link {
				right: auto;
				left: 0;
			}
		}
	}
}

/* ## Blog Page
--------------------------------------------- */
.page-template-page_blog {
	
	article {
		.entry-title,
		.entry-footer {
			text-align: center;
		}
		
		.entry-title {
			&:after {
				content: "";
    			display: block;
    			margin: 5px auto 25px;
    			bottom: 0;
    			left: 0;
    			width: 40%;
    			border-bottom: 1px solid $purple;
			}
		}
	}
}

/* ## Single Post Page
--------------------------------------------- */
.single-post {
	.entry-title {
		color: $purple;
		text-align: center;
		
		&:after {
			content: "";
    		display: block;
    		margin: 5px auto 25px;
    		bottom: 0;
    		left: 0;
    		width: 40%;
    		border-bottom: 1px solid $purple;
		}
	}
}