.site-footer {
	background-color: $purple;
	color: #fff;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1;
	padding: 10px 0;
	text-align: center;
	
	p {
		margin-bottom: 0;
	}
	
	a {
		color: #fff;
	}
}