//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

// Colors
$color-site-bg:      #eee;
$color-font:         #333;
$purple: 			 #C50091;
$dark-purple:		 #840061;
$grey:				 #A3A3A3;
$gold:				 #c1a07c;

// Fonts
$font-sans:  'Lato', sans-serif;
$font-sans-headings:  'Poppins', sans-serif;